<h1>Create new order</h1>
<hr />
<div>
    <form>
        <button class="btn btn-primary">New article</button>


        <input type="submit" value="Create" class="btn btn-success" />
    </form>
</div>


<script>
    const articles = [];
    axios.get(`@Url.Action("GetAllArticles", "Articles")`)
        .then((res) => {
            console.log(res.data);
        })
</script>