@using Cashier.Models.Orders
@model IEnumerable<OrderViewModel>

<h1>Orders</h1>
<hr />
<div class="row mb-5">
    <a class="btn btn-primary" href="@Url.Action("AddOrder", "Orders")">
        Add new order
    </a>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Sum</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Description</td>
                    <td>@order.Total</td>
                    <td><button class="btn btn-danger">Reverse</button></td>
                </tr>
            }
        </tbody>
    </table>
    
</div>